<!-- <head>
    <link rel="stylesheet" href="/styles/styles.css">
  </head> -->
<form action="/user/register" method="POST">
    <table>
        <tbody>
            <tr>
                <td>User Name:</td>
                <td>
                    <input 
                        name="username"
                        type="text"
                        value="<%= user.username ? user.username : '' %>" 
                    />
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input 
                        name="email"
                        type="text"
                        value="<%= user.email ? user.email : '' %>"
                    />
                </td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>
                    <input 
                        name="firstName"
                        type="text"
                        value="<%= user.firstName ? user.firstName : '' %>"
                    />
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <input
                        name="lastName" 
                        type="text"
                        value="<%= user.lastName ? user.lastName : '' %>"
                    />
                </td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input name="password" type="password"></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input name="passwordConfirm" type="password"></td>
            </tr>
            <% if (reqInfo.roles.includes("Admin") || reqInfo.roles.includes("Manager")) { %>
            <tr>
                <td>Role:</td>
                <td>
                    <select name="role" id="role">
                        <option value="User">User</option>
                        <option value="Manager">Manager</option>
                        <option value="Admin">Admin</option>
                    </select>
                </td>
            </tr>
            <%}%>
        </tbody>
    </table>
    <button class="btn btn-success" type="submit" value="Submit">Register</button>
</form>
<%= errorMessage %>