<h1>My Profile</h1>

Username: <%= userInfo.user.username %><br />
Name: <%= userInfo.user.firstName %> <%= userInfo.user.lastName %><br />
Email: <%= userInfo.user.email %><br />

<% if(reqInfo.roles?.length) { %> Roles: <%= reqInfo.roles %> <% } %>