<h1>My Profile</h1>

<div>
    <p>Username: <%= userInfo.user.username %></p>
    <p>Name: <%= userInfo.user.firstName %> <%= userInfo.user.lastName %></p>
    <p>Email: <%= userInfo.user.email %></p>
    <% if(reqInfo.roles?.length) { %> <p>Roles: <%= reqInfo.roles %></p> <% } %>
</div>

<a href="/user/userprofile-form" class="btn btn-warning">Edit</a>