<h1><%= title %></h1>
<div class="userprofile-box">
    <p>Username: <%= user.username %></p>
    <p>Name: <%= user.firstName %> <%= user.lastName %></p>
    <p>Email: <%= user.email %></p>
    <% if(reqInfo.roles?.length) { %> 
        <p>Roles: <%= user.roles %></p> <% } %>
</div>

<div class="btn-box">
    <a href="/user/userprofile-detailsform/<%= userId %>" class="btn btn-warning">Edit</a>
    <a href="/user/userprofiles" class="btn btn-success">Back to Users</a>
</div>

